{% extends "layout.html" %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
    <div  class="row container-fluid" style="margin-top: 10px;">
        <div class="col">
            <div class="text-center">
                <h2>Your original image</h2>
                <img src="{{ user_image +'.png'  }}" class="rounded " alt="test">
            </div>
        </div>
        <div class="col" >
            <div class="text-center">
                <h2>Your image upscaled</h2>
                <img src="{{ user_image  +'_upscaled.png' }} " class="rounded float-right" alt="...">
            </div>
        </div>
    </div>
        <style>
            .content {
                align-items: center;
                text-align: center;
                color:#181e29;
            }

            </style>
{% endblock %}


